        <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                <img src="img/navbar-logo.png" alt="">
            </a>
            <!-- activate side-bav in mobile view -->
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down slide">
                <li class="tab"><a href="#!">协会主页</a></li>
                <li class="tab"><a href="#enroll">加入我们</a></li>
                <li class="tab"><a href="#video">宣传视频</a></li>
  <!--               <li class="tab"><a href="#tech">技术部</a></li>
                <li class="tab"><a href="#res">资源部</a></li>
                <li class="tab"><a href="#pub">宣传部</a></li>
                <li class="tab"><a href="#ext">外联部</a></li>
                <li class="tab"><a href="#sec">秘书部</a></li> -->
                <!-- Dropdown Trigger -->
                <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">旗下产品</i></a></li> -->
                <!-- <div class="indicator"></div> -->
            </ul>
            <!-- navbar for mobile -->
            <ul class="side-nav" id="mobile-demo">
                <li class="tab"><a href="#!">协会主页</a></li>
                <li class="tab"><a href="#enroll">加入我们</a></li>
                <li class="tab"><a href="#video">宣传视频</a></li>
            </ul>
        </div>
    </nav>
