<div class="background-info jumbotron">
    <div class="container">
        <div class="row">
            <img class="responsive-img center center-block" src="img/index.png">
        </div>
    </div>
</div>
<!--     <ul class="icon-wrap center">
      <li><div href="#" class=""><span class="fa fa-cog"></span><br />资源部</div></li>
      <li><div href="#" class=""><span class="fa fa-cog"></span><br />技术部</div></li>
      <li><div href="#" class=""><span class="fa fa-cog"></span><br />宣传部</div></li>
      <li><div href="#" class=""><span class="fa fa-cog"></span><br />外联部</div></li>
      <li><div href="#" class=""><span class="fa fa-cog"></span><br />秘书部</div></li>
    </ul> -->
<!-- <img class="materialboxed" src="img/index.png"> -->
<div id="introduction" class="container">
    <div class="row">
        <blockquote>
            <h4>网络管理协会简介</h4>
        </blockquote>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="text-indent">
                <p>
                    广州大学华软软件学院 • 网络管理协会(NA)，是在网络中心(NC)指导下，由学生自发组织并为我院提供网络服务性质的学生团体队伍。协会在网络中心老师们的指导下不断发展，以服务同学为宗旨，为我院同学提供更方便快捷的网络维护服务。
                    网络管理协会下设有5个部门：技术部、宣传部、外联部、资源部、秘书部。
                </p>
                <p>
                    网络管理协会是我院内网核心服务提供者，旗下有： 导航网， NA电影网， NA音乐网 ， DC++资源共享平台， 内网补丁更新， 230软件下载FTP， NA服务中心等一系列热门服务，加入我们，更多服务等你来开启！
                </p>
                <div class="divider"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <blockquote>
            <h4>How we works</h4>
        </blockquote>
    </div>
    <div class="row">
        <div class="col s12 l6 text-indent">
            <p>
                NA直属于学院网络中心（NC），致力于提升全院学子的网络生活体验一直是我们的核心价值观。在NA这个大平台上，做不一样的图，表达力Max的视频（宣传部），与外界周旋谈各种事宜展现沟通技巧和能力（外联部），洞察网络资源更新动态并实时分享给同学们（资源部），徘徊在NC的机房里解决服务器负载问题，穿梭于各栋宿舍楼间修复每层楼出现的网络情况（技术部），无时无刻NA都在陪伴着华软学子，收集现象和学子们的需求和问题，共同维系着华软网络生态，提升网络生活体验。
                协会内有定期培训，干事经培训后，可成为网络中心学生网管员。
                加入NA，认识更多有趣的人，一起做更多有趣的事！
            </p>
        </div>
        <div class="col s12 l6">
            <img class="responsive-img center center-block" src="img/nafamily.jpg">
        </div>
    </div>
    <div class="divider"></div>

</div>
<div id="cow-say">
    <div class="container">
        <div class="row">
            <div class="col s6 l6 push-l3">
                <ul>
                    <li>NA2016咨询1群: 481629636</li>
                    <li>NA2016咨询2群: 540638562</li>
                </ul>
            </div>
            <div class="col s6 l6">
                <ul>
                    <li>网络管理协会主页: http://na.sise.cn</li>
                    <li>NA在线影院: http://navod.scse.com.cn</li>
                    <li>华软导航网: http://home.sise.cn</li>
                    <li>在线报修: http://service.scse.com.cn</li>
                    <li>NA音乐网: http://music.sise.cn</li>

                </ul>
            </div>
        </div>

        <div class="row center">
          <img class="responsive-img qrcode-border" src="img/qrcode_white.png">
          <img class="responsive-img qrcode-border" src="img/cow.png">
        </div>

    </div>
</div>
