<div class="main">

    <div class="background-info jumbotron">
        <div class="container">
            <div class="row">
                <img class="responsive-img center center-block" src="img/index.png">
                
            </div>
        </div>
    </div>

</div>


    <!-- <img class="materialboxed" src="img/index.png"> -->

<div class="container">
    <div class="row">
        <video class="responsive-video" controls>
           <source src="vod/nawelcome.mp4" type="video/mp4">
         </video>
    </div>
</div>