
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"></h5>
            <pre class="grey-text text-lighten-4">
加入NA的两种姿势：

1、通过本网页填交报名表。
2、协会全院招新时间到喷泉广场领取并填交报名表，
逾期仍可通过在线报名方式报名。
            </pre>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">交流&咨询平台</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!"></a></li>
              <li><a class="grey-text text-lighten-3" href="#!">2016NA咨询1群：6666</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">2016NA咨询2群：6666</a></li>
              <li><a class="grey-text text-lighten-3 tooltipped" data-position="top" data-delay="50" data-tooltip="<img src='/img/qrcode_256.jpg'> </img>" href="#!">微信公众号：SISE-NA</a></li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright NA.SISE
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
      </div>
    </footer>