* {
}

header nav {
	background-color: #FFFFFF;
	

	.brand-logo{
		color:#292A2B;
		padding: 10px 0 0 15px;
	}

	ul.slide{
		position: relative;
		display: flex;

	}

	a{
		color:#292A2B;
	}
	.indicator{
		    position: absolute;
   			bottom: 0;
   			height: 2px;
   			background-color: #f6b2b5;
	}
}


.background-info {
	background-color: #9DE7FC;
}


.jumbotron{
	padding-top: 30px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;
}